#bezel {
    display: inline-block;
    background-color: brown;
    padding: 1em;
    color: rgb(234, 204, 125);
    text-shadow: 1px 2px 0px rgb(137, 120, 75);
}

#bezel button {
    background:none;
    border: 2px solid rgb(234, 204, 125);
    padding: .5em 1em;
    margin-top: 2.25em;
    box-shadow: 1px 2px 0px rgb(137, 120, 75);
    text-shadow: inherit;
}

#bezel.animated {
    animation: shake 0.6s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

body {
    background-color: burlywood;
}

#branding {
    display:inline-block;
    margin: 1em;
}

#branding .blockFont {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2em;
}

button {
    font-family: inherit;
    font-size: 1.5em;
    color: inherit;
    background: none;
    border-style: solid;
    border-radius: .3em;
}

button.selected {
    transform: scale(1.2);
    box-shadow: 2px 2px 1px 1px rgb(0,0,0,.2);
    background-color: rgb(256,256,256,.2);
}

#branding .scriptFont {
    font-family: 'Niconne', cursive;
    font-size: 2.5em;
    margin: 0em 2.2em;
}

.cell {
    display: inline-block;
    background-color: rgb(208, 208, 208);
    border-right: 1px rgb(20, 20, 20, .3) solid;
    border-bottom: 1px rgb(20, 20, 20, .3) solid;
    width: calc(1em - 1px);
    height: calc(1em - 1px);
    min-width: 1px;
    min-height: 1px;
}

.container {
    /*display: inline-block;*/
    margin-top: .5em;
    margin-left: 7em;
    margin-right: 7em;
}

#controls {
    border: 1px solid white;
}

#controls button {
    margin: 2em;
}

.grid-frame {
    border-top: 1px white solid;
    border-left: 1px white solid;
    text-align: left;
    background-color: rgb(208, 208, 208);
}

.knob {
    display:inline-block;
    height: 7em;
    width: 7em;
    margin-top: 1.5em;
    border-radius: 50%;
    background-color: white;
    
}

.knob.left {
    float: left;
    margin-left: 0em;
}

.knob.right {
    float:right;
    margin-right: 0em;
}

#paper {
    font-family: 'Sarabun', sans-serif;
    font-size: 10px;
    line-height: 0px;
    text-align: center;
    min-width: 900px; /*Approx 1.5 times width of bezel*/
}

p#resolution-output {
    display: inline;
}

.row {
    width: 100%;
    margin:0em;
}


