.cell {
    display: inline-block;
    height: 100%;
    background-color: rgb(210, 189, 137);
    /*margin:0px;*/
    border: 0px white solid; /*width overridden in script*/
    /*width: calc(25% - 2px);*/
}

.cell {
    width: calc(10% - 1px);
    border-width: 0.5px;
    height: calc(100% - 1px);
}

.container {
    display: inline-block;
    width: 500px;
    height: 500px;
}

.grid-frame {
    width: 100%;
    height: 100%;
}

#paper {
    /*font-size: 10px;*/
    text-align: center;
}

.row {
    width: 100%;
    margin:0px;
    /*font-size: 0px;*/
    
}


